{
  "env": {
    "es2020": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/prefer-default-export": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "error",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always"
    ]
  }
}
